@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; ;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    display: block;
    margin: 0px;
    background-color:whitesmoke
}

nav{
    height: 80px;
    display: flex;
}

.nav__container{
    width: 100%;
    max-width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.logo__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    max-height: 80px;
    padding: 20px 4px 20px 0px ;
}

.logo__header{
  font-size: 28px;
  font-weight: bold;
  color: black;
  opacity: 0.6;
  cursor: pointer;
  transition: 300ms;
}

.logo__header:hover{
    color: #6415ff;
    opacity: 1;
    
}

.nav__links{
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    list-style: none;

}

.nav__link{
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 22px;
    opacity: 0.7;
}

.nav__link--login{
    margin-left: 58px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 22px;
    opacity: 0.7;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--login:hover{
    text-decoration: underline;
}

.nav__link--button{
    margin-left: 24px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: 4px #6415ff solid;
    padding: 0.75rem 2rem;
    border-radius: 999px;
    background-color: #6415ff;
    border-bottom-width: 0px;
    border-top-width: 0px;
    transition: 300ms;
}

.nav__link--button:hover{
    background-color: #30008f;
    border: 4px #30008f solid;
    padding: 0.75rem 2rem;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.section__1{
    width: 100%;
    max-width: auto;
    display: flex;
    padding: 0px 40px;
}

.section__1--txt{
    width: 44%;
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
}

.section__1--img{
    width: 56%;
    padding: 60px 0px 0px 0px;
    max-height: 580px;
}

.section__1--main{
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 40px;
}

.purple{
    color: #6415ff;
}

.section__1--para{
    font-size: 19px;
    font-weight: lighter;
    opacity: 0.7;
    padding:0px 0px 40px 0px ;
    line-height: 32px;
}

.section__1--email{
    border: 2px solid lightgrey;
    max-width: 440px;
    border-radius: 999px;

}

.contact__email{
    font-size: 18px;
    outline: 0px solid transparent;
    border: 0px solid transparent;
    background-color: transparent;
    padding: 22px 20px 22px 36px ;
}

.contact__email--btn{
    border: 18px solid #6415ff;
    font-size: 18px;
    border-radius: 999px;
    background-color: #6415ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0rem 1.2rem;
    transition: 300ms;
    
}

.contact__email--btn:hover{
    background-color: #30008f;
    border: 18px solid #30008f;
}

.section__1--OTC{
    padding: 80px 0px 20px 0px;
}

.section__1--OTCtxt{
    font-size: 14px;
    font-weight: bold;
    color: rgb(172, 172, 172);
}

.section__1--OTCimg{
    width: 440px;
    padding: 28px 0px;
    opacity: 0.65;
}

.Section__2--container{
    padding: 0px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section__2--header{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 14px;
}

.Section__2--subheader{
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-bottom: 14px;
}

.Section__2--para{
    font-size: 16px;
    max-width: 440px;
    opacity: 0.7;
    line-height: 24px;
    text-align: center;
    padding-bottom: 40px;
    
}

.Section__2--img{
    color: #6415ff;
    width: 1.5rem;
    height: 1.5rem;
}

.Section__2--icon{
    padding: 1.25rem;
    border: 1px solid lightgrey;
    border-radius: 999px;
    height: 58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.Section__2--flexbox{
    display: flex;
    flex-wrap: wrap;
    
}

.Section__2--row{
    width: calc(100%/3);
    display: flex;
    padding-bottom: 40px;

}

.Service__description{
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
}

.Service__description--header{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 16px;
    letter-spacing: 1px;

}

.Service__description--para{
    font-size: 14px;
    opacity: 0.7;
    line-height: 22px;
    
}
